/* Custom css */

.footer {
    position: absolute;
    width: 100%;
    right: 0;
    bottom: 0;
    height: 30px;
    text-align: right;
    line-height: 30px;
    background-color: #999999;
    padding-right: 10px;
}

#page-wrapper {
    min-height: 575px;
}

.page-header {
    margin-top: 0;
    padding-bottom: 5px;
}

.bill_no_group input {
    width: 100px;
    display: inline-block;
}