/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    background-image:linear-gradient(top, #204388 0%, #0DB1E5 51%);
    background-image:-webkit-linear-gradient(top, #204388 0%, #0DB1E5 51%);
    background-image:-ms-linear-gradient(top, #204388 0%, #0DB1E5 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #204388),
        color-stop(0.51, #0DB1E5)
    );
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
    min-height: 600px;
}
.loading{
    width:100%;
    height: 100%;
    background: url(../img/loader.gif) #000 center no-repeat;
    opacity: 0.6;
    position: fixed;
    z-index: 9;
    top:0px;
}
/* Portrait layout (default) */
.app {
    background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

.main {
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
    margin-top:20px;
}
.record_type, .startInput {
    display: block;
    margin: auto;
}
.record_type {
    margin-top: 4em;
    width: 18em;
    height: 3em;
    padding: 0 1em;
}
#showImage {
    float: left;
    width: 200px;
    height: 200px;
    border: 1px solid white;
}
.btn{
    border: none;
}
.btn-image-camera {
    
}
.btn-camera {
    
}
.btn-manually {
    
}
h3{
    color: #FFF;
    margin-top:50px;
    margin-bottom:20px;
}
.align-center{
    text-align: center;
}
.c-white{
    color: #FFF;
}
.width-80{
    width: 80%;
    margin-left:10%;
}
.width100{
    float:left;
    width: 100%;
}
.height-50{
    height: 50px;
}
.height-200{
    height: 200px;
}
.btn-green{
    background: #6FA624;
}
.btn-blue{
    background: #0E2C55;
}
.select-type{
    margin-right: 50px;
}
.bold{
    font-weight: bold;
}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    background: red;
    cursor: inherit;
    display: block;
}
input[readonly] {
    background-color: white !important;
    cursor: text !important;
}
/*  ICON    */
span.icon{
    padding-right: 15px;
    background-size: contain;
    background-position-x: right;
    background-repeat: no-repeat;
}
.icon.electric{
    width: 20px;
    height: 28px;
    background-image: url(../img/icon_elec.png);
}
.icon.water{
    width: 20px;
    height: 28px;
    background-image: url(../img/icon_eau.png);
}
.icon.gaz{
    width: 20px;
    height: 28px;
    background-image: url(../img/icon_gaz.png);
}
/* Font Size */
.fs-9{
    font-size: 9px;
}
.fs-10{
    font-size: 10px;
}
.fs-11{
    font-size: 11px;
}
.fs-12{
    font-size: 12px;
}
.fs-16{
    font-size: 16px;
}
.fs-30{
    font-size: 30px;
}
/* Margin   */
.margin-top-10{
    margin-top: 10px;
}
.margin-top-30{
    margin-top: 30px;
}
.margin-top-50{
    margin-top: 50px;
}
.margin-top-80{
    margin-top: 80px;
}
.btn-primary strong{
    font-size: 9px;
}
/*Align*/
.text-align-center{
    text-align: center;
}
.text-align-left{
    text-align: left;
}
.text-align-right{
    text-align: right;
}
/*  Color   */
.color-white{
    color: #FFF;
}
/*  Rotate  */
.rotate90{
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
}
/*  Loading */
#facebookG{
    width:128px}

.facebook_blockG{
    background-color:#FFFFFF;
    border:3px solid #275FA3;
    float:left;
    height:91px;
    margin-left:7px;
    width:24px;
    opacity:0.1;
    -moz-animation-name:bounceG;
    -moz-animation-duration:1.3s;
    -moz-animation-iteration-count:infinite;
    -moz-animation-direction:normal;
    -moz-transform:scale(0.7);
    -webkit-animation-name:bounceG;
    -webkit-animation-duration:1.3s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-direction:normal;
    -webkit-transform:scale(0.7);
    -ms-animation-name:bounceG;
    -ms-animation-duration:1.3s;
    -ms-animation-iteration-count:infinite;
    -ms-animation-direction:normal;
    -ms-transform:scale(0.7);
    -o-animation-name:bounceG;
    -o-animation-duration:1.3s;
    -o-animation-iteration-count:infinite;
    -o-animation-direction:normal;
    -o-transform:scale(0.7);
    animation-name:bounceG;
    animation-duration:1.3s;
    animation-iteration-count:infinite;
    animation-direction:normal;
    transform:scale(0.7);
}

#blockG_1{
    -moz-animation-delay:0.39s;
    -webkit-animation-delay:0.39s;
    -ms-animation-delay:0.39s;
    -o-animation-delay:0.39s;
    animation-delay:0.39s;
}

#blockG_2{
    -moz-animation-delay:0.52s;
    -webkit-animation-delay:0.52s;
    -ms-animation-delay:0.52s;
    -o-animation-delay:0.52s;
    animation-delay:0.52s;
}

#blockG_3{
    -moz-animation-delay:0.65s;
    -webkit-animation-delay:0.65s;
    -ms-animation-delay:0.65s;
    -o-animation-delay:0.65s;
    animation-delay:0.65s;
}

@-moz-keyframes bounceG{
    0%{
        -moz-transform:scale(1.2);
        opacity:1}

    100%{
        -moz-transform:scale(0.7);
        opacity:0.1}

}

@-webkit-keyframes bounceG{
    0%{
        -webkit-transform:scale(1.2);
        opacity:1}

    100%{
        -webkit-transform:scale(0.7);
        opacity:0.1}

}

@-ms-keyframes bounceG{
    0%{
        -ms-transform:scale(1.2);
        opacity:1}

    100%{
        -ms-transform:scale(0.7);
        opacity:0.1}

}

@-o-keyframes bounceG{
    0%{
        -o-transform:scale(1.2);
        opacity:1}

    100%{
        -o-transform:scale(0.7);
        opacity:0.1}

}

@keyframes bounceG{
    0%{
        transform:scale(1.2);
        opacity:1}

    100%{
        transform:scale(0.7);
        opacity:0.1}

}
.transparent50{
    opacity: 0.5;
}
/*  position */
.pos-relative{
    position: relative;
}
.pos-absolute{
    position: absolute;
}
#facebookG{
    height: 50px;
}
#facebookG,
#myImage{
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
}
.input-manual{
    height: 40px;
/*    background: #DB0025;*/
    background: url('../img/inputtext.png') center;
    border: 0px;
    padding: 0px;
    background-size: cover;
    text-align: right;
    color: white;
    font-weight: bold;
    letter-spacing: 15px;
    font-size: 22px;
    padding-right: 29%;
    border-radius: 0;
}
.input-manual-box {
    padding: 18px;
    background-color: white;
    border-radius: 4px;
}
.input-manual-title {
    text-align: center;
    font-size: 13px;
    font-family: "Myriad Pro";
    color: rgb(141, 142, 144);
    line-height: 1.456;
    text-transform: none;
    margin-bottom: 13px;
}